:root {
  --gray: #555;
  --gray-dark: #333;
  --gray-light: #ccc;

  --to-do: #387ADF;
  --in-progress: #FFA33C;
  --in-qa: #FC6736;
  --done: #3EB489;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray);
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: start;
}